

@media (max-width: 450px) {
  .emails {
      font-size: 15px;
  }
  .links {
      font-size: 14px;
      width: 75px;
  }
  .title {
      font-size: 60px;
  }
  .myname {
      font-size: 16px;
  }
}

@media (max-width: 400px) {
  .emails {
      font-size: 14px;
  }
  .links {
      font-size: 13px;
      width: 70px;
  }
  .title {
      font-size: 58px;
  }
  .myname {
      font-size: 15px;
  }
}

@media (max-width: 350px) {
  .emails {
      font-size: 13px;
  }
  .links {
      font-size: 12px;
      width: 70px;
  }
  .title {
      font-size: 55px;
  }
  .myname {
      font-size: 14px;
  }
}
