body {
    font-family: consolas, myriad, avenir, calibri, arial;
    font-size: large;
    background: url("https://i.imgur.com/6r2pyFB.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.all {
    height:100vh;
}

.home {
    height:100vh;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-nav {
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.nav-menu {
    position: fixed;
    margin-top: 30px;
    top: 40px;
    left: 40px;
    transform: translate(-50%, -50%);
}

.emails {
    display: inline;
    letter-spacing: 5px;
    font-family: print;
    color: #5d5d5d;
    font-size: 24px;
    text-align: center;
}

.myname {
    position: relative;
    font-family: "Times New Roman";
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 0px;
    letter-spacing: 1px;
    text-align: center;
    color: #5d5d5d;
    text-transform: lowercase;
    -webkit-transition: all 0.4s ease-out;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    transition: all 0.4s ease-in-out;
    user-select: none;
}

.title {
    font-family: "Times New Roman";
    letter-spacing: 9px;
    margin: 10px, 1px;
    font-size: 64px;
    line-height: 0px;
    text-align: center;
    color: #5d5d5d;
    text-transform: uppercase;
    position: fixed;
    -webkit-transition: all 0.4s ease-out;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    transition: all 0.4s ease-in-out;
    user-select: none;
}

.links {
    display: block;
    padding-right: 5px;
    margin-bottom: 2px;
    padding: 2px;
    font-family: "consolas";
    font-size: 17px;
    text-transform: uppercase;
    width: 100px;
    text-align: left;
    border-right: 0px solid #99ddd3;
    border-left: 0px solid #99ddd3;
}

.on {
    background-color:#ffc3a8;
    color:#fff;
    border-right:10px solid #ffc3a8;
    border-left:2px solid #ffc3a8;
}

.links:hover {
    background-color:#99ddd3;
    color:#fff;
    border-right:10px solid #99ddd3;
    border-left:2px solid #99ddd3;
}

#links {
    display: block;
    position:fixed;
    left:50px;
    top:-30px;
    opacity:0;
    visibility: hidden;
}

#links a {
    color: #636363;
}

#links a:hover {
    color:#fff;
}


.home:hover #links{
    opacity: 1;
    display: block;
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.home:hover .title{
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -ms-transform: translate(-58px,0px); /* IE 9 */
    -webkit-transform: translate(-58px,0px); /* Safari */
    transform: translate(-58px,0px)
}

.home:hover .myname{
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -ms-transform: translate(-58px,0px); /* IE 9 */
    -webkit-transform: translate(-58px,0px); /* Safari */
    transform: translate(-58px,0px)
}


.all:hover #links{
    opacity:1;
    left:0px;
    display: block;
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.all:hover .title{
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -ms-transform: translate(-90px,0px); /* IE 9 */
    -webkit-transform: translate(-90px,0px); /* Safari */
    transform: translate(-90px,0px)
}

.all:hover .myname {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -ms-transform: translate(0px,-90px); /* IE 9 */
    -webkit-transform: translate(0px,-90px); /* Safari */
    transform: translate(0px,-90px)
}


.active {
  background-color: #4CAF50;
}

#container div {
  display: block;
  padding: 50px;
}

img {
  display: block;
  margin: auto;
  width: 20%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

a, a:link, a:visited, a:active {
    color: #9bd6f0;
    z-index: 999;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
